<!--Upload input-->
<div class="container">
  <div class="form__container">
    <form (click)="onFormClick()">
      <!-- We are hiding the file input and using a button to trigger it -->
      <input #fileInput type="file" id="file-input" style="display: none" (change)="onFileChange($event)">
      <p class="helper__text">click to upload a file</p>
      <i class='bx bx-cloud-upload icon'></i>
    </form>
    <section class="progress-area" id="progress-area">
      <!-- Display progress area with uploaded files -->
      <ng-container *ngIf="progressAreaHTML; else noProgress">
        <li [innerHTML]="progressAreaHTML"></li>
      </ng-container>
      <ng-template #noProgress>
      </ng-template>
    </section>
    <section class="uploaded-area" id="uploaded-area">
      <!-- Display uploaded files -->
      <li *ngFor="let file of uploadedFiles" class="row">
        <div class="content upload">
          <i class='bx bx-file file__progress-icon'></i>
          <div class="details">
            <span class="name">{{ file.name }} • Uploaded</span>
            <span class="size">{{ file.size }}</span>
          </div>
        </div>
        <i class='bx bx-check file__check-icon'></i>
      </li>
    </section>
  </div>
</div>
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-bottom">
  <div class="container">
    <!--Logo-->
    <a class="navbar-brand fs-4" href="logo">Arrow Files</a>   
    <!--Toggle Button-->
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--SideBar-->
    <div class="sidebar offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel">
      <!--SideBar Header-->
      <div class="offcanvas-header text-white border-bottom">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Arrow Files</h5>
        <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
      </div>
      <!--SideBar Body-->
      <div class="offcanvas-body d-flex flex-column flex-lg-row p-4">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">        
          <li class="nav-item mx-2">
            <a popup class="nav-link active" aria-current="page" href="contact">Contact</a>
          </li>
          <li class="nav-item mx-2">
            <a popup class="nav-link active " aria-current="page" href="help">Help</a>
          </li>
          <li class="nav-item mx-2">
            <a popup class="nav-link active" aria-current="page" href="feedback">Feedback</a>
          </li>
        </ul>
        <!--login /sing-up-->
        <!-- <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-3">
          <a href="login" class="text-white text-decoration-none nav-link">Login</a>
          <a href="signup" class="text-white text-decoration-none nav-link">Sign-up</a>
        </div> -->
      </div>
    </div>
  </div>
</nav>