 <!--Upload input-->
 <div class="container">
  <div class="form__container">
    <form upload action="#" class="form" id="form">
      <input type="file" name="file" hidden id="file-input" />
      <p class="helper__text">Push the button to upload a file</p>
      <i class='bx bx-cloud-upload icon'></i>
      <p class="helper__text">or drag a file directly</p>
    </form>
    <section class="progress-area" id="progress-area">
    </section>
    <section class="uploaded-area" id="uploaded-area">
    </section>
  </div>
</div>
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-bottom">
  <div class="container">
    <!--Logo-->
    <a class="navbar-brand fs-4" href="logo">Arrow Files</a>   
    <!--Toggle Button-->
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--SideBar-->
    <div class="sidebar offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel">
      <!--SideBar Header-->
      <div class="offcanvas-header text-white border-bottom">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Arrow Files</h5>
        <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
      </div>
      <!--SideBar Body-->
      <div class="offcanvas-body d-flex flex-column flex-lg-row p-4">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">        
          <li class="nav-item mx-2">
            <a popup class="nav-link active" aria-current="page" href="contact">Contact</a>
          </li>
          <li class="nav-item mx-2">
            <a popup class="nav-link active " aria-current="page" href="help">Help</a>
          </li>
          <li class="nav-item mx-2">
            <a popup class="nav-link active" aria-current="page" href="feedback">Feedback</a>
          </li>
        </ul>
        <!--login /sing-up-->
        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-3">
          <a href="login" class="text-white text-decoration-none nav-link">Login</a>
          <a href="signup" class="text-white text-decoration-none nav-link">Sign-up</a>
        </div>
      </div>
    </div>
  </div>
</nav>