
@media(max-width:991px) {
    .offcanvas.sidebar{
        background-color: rgba(11, 10, 10, 0.813);
    }
  }

/* CSS for mouse hover effect */

 .nav-link {
    position: relative;
    transition: color 0.5s ease;
  }  
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s ease;
  } 
  .nav-link:hover::before {
    width: 100%;
  }