/* You can add global styles to this file, and also import other style files */

/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

html,
body {
  font-family: 'Roboto';
  font-weight: 700;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("\assets\images\foret.png");
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  }

@import url("./app/upload/upload.component.css");
/* @import url("./app/navbar/navbar.component.css") */


