/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("\assets\images\foret.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
}
@media(max-width:991px) {
  .sidebar{
      background-color: rgba(255, 255, 255, 0.15);
  }
}


@import url("./assets/navbar.css");
